extends layout 

block content 
    .inner 
        h2 History
        p Cedar Lake Carpentry is a local business that has been servicing the Metro Detroit area for 25 years. Since day one we've carried a reputation for the highest quality and consistently hitting deadlines. We have worked with many businesses in the metro Detroit area such as Robertson Brothers Homes, Pulte Homes, Cranbrook Custom Homes, and Belfor Property Restoration to name a few. 

        h2 Services
        p Cedar Lake Carpentry is able to help with many of your interior needs. We specialize in cabinets, doors, and trim. We can help enhance the look of any rooms with beautiful coffered ceilings, detailed crown molding and base. We can bring life to your staircase by adding beautiful railing. 