doctype html
html(lang="en")
    head
        title= `${h.siteName} || ${title}`
        link(rel="stylesheet", href="/dist/style.css")
        link(rel="shortcut icon" type="image/png" href="/images/icons/hammer.svg")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Paprika&display=swap" rel="stylesheet")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body 
        .wrapper
            h2.wraptitle CEDAR LAKE CARPENTRY
        .nav_bar 
            //- li.nav_item.logo: a.nav__link(href="/")
            //-     span.contact Cedarlakecarpentery@gmail.com
            //-     br
            //-     span.contact 586-322-5234   
            li.nav_item: a.nav__link(href="/")
                span Home
            li.nav_item: a.nav__link(href="/about")
                span About Us
            li.nav_item: a.nav__link(href="/gallery")
                span Gallery
            li.nav_item: a.nav__link(href="/services")
                span Services
            li.nav_item: a.nav__link(href="/contact")
                span Contact Us
                
        .content
            block content

        .footer
            p.information Contact Us! 
            p.information 586-322-5234
            