mixin images()
        .images
            .image
                .image__image: a(href="/")    
                    img(src="/images/trim.jpg", alt="images")
                .image__header
                    h2 Trim
                .image__links
                    .link: a(href="/") 
            .image
                .image__image: a(href="/")    
                    img(src="/images/kitchen.jpg", alt="images")
                .image__header
                    h2 Kitchens
                .image__links
                    .link: a(href="/") 
            .image
                .image__image: a(href="/")    
                    img(src="/images/coffered.jpg", alt="images")
                .image__header
                    h2 Coffered Ceilings
                .image__links
                    .link: a(href="/") 
            .image
                .image__image: a(href="/")    
                    img(src="/images/shelves.jpg", alt="images")
                .image__header
                    h2 Shelving
                .image__links
                    .link: a(href="/") 
            .image
                .image__image: a(href="/")    
                    img(src="/images/fireplace.jpg", alt="images")
                .image__header
                    h2 Fireplace Mantles
                .image__links
                    .link: a(href="/") 
            .image
                .image__image: a(href="/")    
                    img(src="/images/staircase.jpg", alt="images")
                .image__header
                    h2 Staircase
                .image__links
                    .link: a(href="/") 

