.images {
  display: flex;
  flex-wrap: wrap;
  margin: -1.25em 0 0 -1.25em;
}

.image {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-direction: column;
  border: 10px solid #241e19;
  box-shadow: $shadow;
  margin: 1.25em 0 0 1.25em;
  width: calc(33.3333% - 2.25em);
  @media all and (max-width: 850px) {
    width: calc(50% - 1.25em);
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
  :hover {
      color: whitesmoke;
  }
}

.image__header {
  display: flex;
  justify-content: center;
  background: white;
  font-size: 15px;
  @media all and (max-width: 850px) {
    width: calc(50% - 1.25em);
  }
  @media all and (max-width: 550px) {
    width: 100%;
  }
}
.image__links {
  display: flex;
  padding-top: 10px;
  margin: auto;
}

img {
  display: flex;
  width: 100%;
  box-shadow: $shadow;
  border-bottom: 5px solid #241e19;
}
