body {
  margin: 0;
  background: blue;
  display: block;
  background-size: cover;
  font-size: 36px;
}

.div {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 50px auto;
  background-color: white;
  box-shadow: $shadow;
}

h2 {
  display: flex;
  justify-content: center;
  text-shadow: $shadow;
}

p {
  display: flex;
  text-shadow: $lightshadow;
  justify-content: center;
  justify-self: center;
}

.links {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px;
}

.inner {
  max-width: 900px;
  margin: 0 auto;
  @media all and (max-width: 900px) {
    padding: 2rem;
  }
}
